<html>

<head>
    <link rel="stylesheet" type="text/css" href="./pure.css">
    </link>

    <style>
        * {
            font-family: 'Overpass Mono', monospace;
        }

        table {
            table-layout: fixed;
        }

        td,
        th {
            width: 1px;
            white-space: nowrap;
        }

        td,
        th {
            text-align: right;
        }

        td.left,
        th.left {
            text-align: left;
        }

        .red {
            color: red;
        }

        .green {
            color: green;
        }
    </style>
</head>

<body>

    <table class="pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th class="left">Coin</th>
                <th>Price $</th>
                <th>Vol 24h</th>
                <th>MCap $</th>
                <th>% &#916; 1h</th>
                <th>% &#916; 24h</th>
                <th>% &#916; 7d</th>
            </tr>
        </thead>

        <tbody>
            {% for row in rows %}
            <tr>
                <td class="left">{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td {% if row[4]>= 0 %} class="green" {% else %} class="red" {% endif %}>{{ row[4] }}</td>
                <td {% if row[5]>= 0 %} class="green" {% else %} class="red" {% endif %}>{{ row[5] }}</td>
                <td {% if row[6]>= 0 %} class="green" {% else %} class="red" {% endif %}>{{ row[6] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>